@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {
  :root {
    --background: 60 26% 96%; /* #F8F8F3 */
    --foreground: 41 100% 6%; /* #1F1500 */
    --card: 0 0% 100%; /* #ffffff */
    --card-foreground: 41 100% 6%; /* #1F1500 */
    --popover: 0 0% 100%; /* #ffffff */
    --popover-foreground: 41 100% 6%; /* #1F1500 */
    --primary: 46 100% 52%; /* #ffc60a */
    --primary-foreground: 40 100% 15%; /* #4d3300 */
    --secondary: 43 16% 92%; /* #EDEBE6 */
    --secondary-foreground: 41 100% 6%; /* #ffc60a */
    --muted: 60 11% 95%; /* #f3f3f0 */
    --muted-foreground: 45 4% 56%; /* #93918a */
    --accent: 60 11% 95%; /* #f3f3f0 */
    --accent-foreground: 46 100% 52%; /* #ffc60a */
    --destructive: 0 84.2% 60.2%; /* #ef4444 */
    --destructive-foreground: 11 91% 9%; /* #2D0A02 */
    --border: 240 5.9% 90%; /* #e4e4e7 */
    --input: 240 5.9% 90%; /* #e4e4e7 */
    --ring: 41 100% 6%; /* #1F1500 */
    --chart-1: 12 76% 61%; /* #e76e50 */
    --chart-2: 173 58% 39%; /* #2a9d90 */
    --chart-3: 197 37% 24%; /* #274754 */
    --chart-4: 43 74% 66%; /* #e8c468 */
    --chart-5: 27 87% 67%; /* #f4a462 */

    --active: 43 100% 25%; /* #7d5900 */
    --pending: 42 100% 70%; /* #FFD166 */
    --accepted: 270 95% 43%; /* #6E06D6 */
    --preparation: 11 100% 70%; /* #FF8266 */
    --completed: 164 95% 43%; /* #06D6A0 */
    --order: 45 11% 21%; /* #3C3930 */
    --title: 53 43% 11%; /* #282510 */
    --radius: 0.5rem;
  }
}
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
